html{
    color-scheme: dark light;
	--color-text:#F9F7F1;
	--color-background:#1B1919;
	--color-accent: #1ED760;
    
    @media (prefers-color-scheme: light) {
        --color-text:#1B1919;
	    --color-background:#F9F7F1;
	    --color-accent: #1ED760;
    }

    /* background-color: var(--color-background); */
    background-color: #151515;
    font-family: 'crimson text', serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.rounded-corners:nth-of-type(2){
    grid-column: span 2;
}

header{
    width: 100vw;
}

body p, body h2{
    margin: 0;
}

section{
    /* background-color: var(--color-accent); */
    background-color: var(--color-background);
    height: 92vh;
    overflow: auto;
    padding: 1em;
}

.rounded-corners{
    border-radius: 0.6em;
    overflow: hidden;
}

.albums li{
    list-style: none;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    padding: 0.5em;
    align-items: center;

    animation-name: appear;
    animation-timeline: view();
    animation-range: entry;
    animation-fill-mode: both;
}

.albums li:hover{
    background-color: #312e2e;
}

.albums li div{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    gap: 0.2em;
}

.albums li div p{
    margin: 0;
}

.albums li div p:nth-of-type(1){
    font-weight: bold;
}

.albums li div p:nth-of-type(2){
    color: gray;
}

.albums ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.albums img{
    max-height: 10vh
}

.songs{
    background: linear-gradient(180deg,rgba(134, 160, 209, 1) 0%, rgba(73, 90, 156, 1) 28%, rgba(27, 25, 25, 1) 68%);
}

.header{
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    padding: 0.5em;
    align-items:flex-end;
    gap: 2em;
}

.header img{
    max-height: 25vh;
}

.songs li div{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    gap: 0.2em;
}

.songs p{
    margin: 0;
}

.header p:nth-of-type(2){
    font-weight: bold;
    font-size: 3em;
}

.songs p:nth-of-type(3){
    font-weight: bold;
}

@keyframes appear{
	0%{
		opacity: 0%;
		scale: 0.5;
	}
	
	100%{
		opacity: 1;
		scale: 1;
	}
}

.player{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cover{
    max-width: 100%;
}

/* .player p{
    color: gray;
} */

.verlijkbare-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}



.verlijkbare-items{
    display: flex;
    flex-direction: row;
    gap: 0.7em;

    width: 100%;
    overflow: auto;
}

.verlijkbare-items div{
    padding: 0.7em;
    border-radius: 6px;
}

.verlijkbare-items div:hover{
    background-color: #312e2e;
}


.verlijkbare-items img{
    width: 12vw;
}

::-webkit-scrollbar {
    display: none;
}

.scroller{
    max-width: 100%;
    outline: 3px solid #1ED760;
    overflow: hidden;
}

.populair{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
}

.populair-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    padding: 0.8em 1em;
    border-radius: 6px;
}

.populair-items:hover{
    background-color: rgb(21, 21, 21, 0.2);
    transition-duration: 0.5s;
}

.populair-items img{
    max-height: 7vh;
}

.populair-items svg{
    max-height: 3vh;
}

.populair-items p{
    color: rgb(210, 202, 202);
}

.populair-items div{
    display: flex;
    flex-direction: row;
    gap: 1em;

    align-items: center;
    width: 40%;
}

.populair-items div p:nth-of-type(2){
    font-weight: bold;
    color: var(--color-text);
}